{% extends 'abdb/main.html' %}

{% block content %}

<br>

<div class="row">
	<div class="col-md">
		<center>
		<h2>Archives</h2>
		</center>
		<hr>
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>Anitbody</th>
					<th>Host</th>
					<th>Company</th>
					<th>Cat. Num.</th>
					<th>      </th>
					<th>      </th>
				</tr>
				{% for i in antibody %}
					<tr>
            <td><a href="{% url 'antibody_archive' i.id %}">{{i.name}}</a></td>
						<td>{{i.host}}</td>
						<td>{{i.company}}</td>
						<td>{{i.cat_num}}</td>
					</tr>
				{% endfor %}
			</table>
		</div>
	</div>

</div>

{% endblock %}
